@import "Colors";

.about{
    background-color: $first;
    height: 78vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #aboutContent{
        width: 56%;
        font-size: 4ch;
        text-align: center;
    }

}

@media only screen and (max-width: 600px){
    .about{
        height: 70vh;

        #aboutContent{
            margin-top: -18rem;
            width: 80%;
            font-size: 3ch;
        }
    }
}

@media only screen and (max-width: 400px){
    .about{
        height: 70vh;

        #aboutContent{
            font-size: 2ch;
        }
    }
}