$first:#f8f9f5;
$second:#0A1926;
$third:#5BCCD9;
$fourth:#FFEED9;

// $header:#0f0f0f;
// $footer:#0f0f0f;

$header:#f8f9f5;
$footer:#f8f9f5;

$text1:#f8f9f5;
$text2: #0e0e0e;

*{
    margin: 0;
    padding: 0;
}

