@import "Colors";

.ques{
    background-color: $first;
    // margin-top: -8%;
    height: 560vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        >form {
            margin: 2rem;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            >h2{
                margin: 4rem;
            }

            >div {
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 80%;
                margin: 0.5rem;

                >input{
                    width: 100%;
                    font-size: 1em;
                    padding: 0.6em;
                    background-color: $first;
                    border: none;
                    border-bottom: 1px solid #000000;
                    outline: none;
                    margin: 2rem;
                }

                >select{
                    width: 100%;
                    font-size: 1em;
                    padding: 0.6em;
                    background-color: $first;
                    border: none;
                    border-bottom: 1px solid #000000;
                    outline: none;
                    margin: 2rem;
                }

                >label{
                    width:58%;
                    font-size: 1.2em;
                }

            }
            >button{
                margin-top: 10rem;
                padding: 0.7rem;
                border: none;
                border-radius: 5px;
                background-color: $second;
                color: $first;
                width: 200px;
                font: 500 1rem $text1;
                &:hover{
                    opacity: 0.9;
                    cursor: pointer;
                    background-color: $third;
                    color: $text2;
                }
            }
        }
    
}

@media only screen and (max-width: 600px){
    .ques{
        // margin-top: -40rem;
        height: 840vh;

        >h1{
            font-size: 1.7rem;
        }

        >form{
            margin-top: -30rem;
            margin: 1rem;
            width: 94%;

            >h2{
                margin: 4rem;
                font-size: 1.4rem;
                text-align: center;
            }

            >#multipleInput3{
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                height: 34vh;
            }

            >#multipleInput2{
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                height: 24vh;
            }

            >div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 2em;

                >label{
                    // margin: 2rem;
                    width: 98%;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px){
    .ques{
        // margin-top: -40rem;
        height: 840vh;

        >h1{
            font-size: 1.2rem;
        }

        >form{
            margin: 1rem;
            width: 94%;

            >h2{
                font-size: 1rem;
            }

            >#multipleInput3{
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                height: 34vh;
            }

            >#multipleInput2{
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                height: 24vh;
            }

            >div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 2em;

                >label{
                    font-size: 0.8rem;
                    width: 98%;
                }

               
            }
        }
    }
}