@import "Colors";

.result{
    width: 100%;
    // height: 100vh;
    background-color: $first;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >h2{
        margin: 3rem;
        text-decoration: underline;
    }

    >p{
        width: 60%;
        font-size: 1.4em;
        word-spacing: 0.2em;
        text-align: justify;
    }
}

@media only screen and (max-width: 600px){
    .result{
        width: 90%;

        >h2{
            font-size: 1.6rem;
        }

        >p{
            font-size: 1.2rem;
        }
    }
}