@import "Colors";

.result{
    width: 60%;
    height: 100vh;
    background-color: $first;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >h2{
        margin: 3rem;
        text-decoration: underline;
    }

    >p{
        font-size: 1.4em;
        word-spacing: 0.2em;
        text-align: justify;
    }
}